* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.mainMenu {
  width: 100%;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-main-screen {
  height: 600px;
  /* width: 600px; */
}

.find-btn {
  background-color: transparent;
  border: 2px solid #fbfbfb;
  border-radius: 0.6em;
  cursor: pointer;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: auto;
  margin-top: 65px;
  border-color: #f64b61;
  color: #060606;
  box-shadow: 0 0 40px 40px #f64b61 inset, 0 0 0 0 #f64b61;
  transition: all 150ms ease-in-out;
}

.find-btn:hover, .find-btn:focus {
  color: #060606;
  outline: 0;
}

.find-btn:hover {
  box-shadow: 0 0 10px 0 #f3b5b5 inset, 0 0 10px 4px #f64b61;
}

.section-dating {
  background-color: #F2D1D1;
  padding-top: 15px;
  padding-left: 10px;
  min-height: 100vh;
  /* display: none; */
}

.section-dating.active {
  display: flex;
}

.aside-search-form {
  /* display: none; */
  background-color: #DAEAF1;
  border-radius: 15px;
  margin: 10px 10px 10px;
  /* width: 500px; */
  height: fit-content;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
  padding-bottom: 25px;
}

.search-field {
  background: #DAEAF1;
  border-radius: 15px 15px 0 0;
  margin-right: 10px;
  
}

.search-field input {
  height: 42px;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 42px;
  border: 2px solid #00759f;
  background: #DAEAF1;
  outline: none;
  transition: .3s linear;
  margin: 15px 0 15px 10px;
  font-size: 25px;
  font-family: 'Roboto Mono', monospace;
}

.search-field button {
  /* width: 42px; */
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
}
/* 
position: fixed;
margin: 0;
top: 0;
left: 0;
width: 100%;
border-radius: 0;
padding-left: 25px;
padding-bottom: 20px;
padding-top: 20px; */

.sortBy {
  margin-bottom: 10px;
}

.sort-rule {
  display: flex;
}

.option {
  display: flex;
}

.search-text {
  text-transform: uppercase;
  margin: auto 10px;
  font-size: 25px;
  color: #00759f;
}

.radio-button {
    margin: auto 0;
    padding: 0 15px 0 5px;
    font-size: 20px;
    color: #00759f;
}

.section-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user {
  background-color: #DAEAF1;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 40%);
  margin: 10px;
  width: 300px;
}

.imageUser {
  width: 160px;
  border-radius: 10px;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

.details-icon {
  height: 25px;
  /* width: 25px; */
}

.span-hobby  {
  padding-right: 5px;
}

.details {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.details .details-icon {
  margin-right: 10px;
  margin-left: 10px;
}
/* 
@media all and (max-width: 1200px) {
  .fullPage {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .fullPage {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .fullPage {
    max-width: none;
  }
} */

.details-content {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media all and (max-width: 1200px) {
  .user {
    width: 250px;
  }
}

@media all and (max-width: 960px) {
  .aside-search-form {    
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-top: 20px;
    opacity: 0.95;
  }

  .sort-rule {
    flex-direction: column;
    margin-top: 15px;
  }

  .option {
    margin-left: 25px;
    margin-bottom: 5px;
  }
}

@media all and (max-width: 600px) {
  .user {
    width: 70%;
  }

  .imageUser {
    width: 200px;
  }
}
